<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="messageService" class="repository.MessagesRepository" />
   <!--esto de abajo no tiene utilidad pero puede que en algun momento nos puede funcionar-->
    <bean id="messageService2" class="repository.MessagesRepository" />
</beans>
