<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Crear curso</h1>
    <form method="post" th:action="@{/course/save}" th:object="${newcourse}">
        <input type="text" th:field="*{name}" placeholder="Nombre">
        <input type="number" th:field="*{credits}" placeholder="Créditos">

        <select th:field="*{professor}">
            <option th:each="professor : ${professors}"
                    th:value="${professor.id}"
                    th:text="${professor.name}">
            </option>
        </select>

        <button type="submit">Guardar</button>
    </form>



    <h1>Lista de cursos</h1>

    <ul>
        <li th:each="course :${courses}">
            <a th:href="@{/course/{id}(id=${course.id})}" th:text="${course.name}">
                Nombre del curso
            </a>
        </li>
    </ul>

</body>
</html>