<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--Repositorios-->

    <bean id="courseRepository" class="edu.co.icesi.repository.CourseRepository"/>

    <!--Service-->
    <bean id="courseService" class="edu.co.icesi.service.CourseService">
        <constructor-arg ref="courseRepository"/>
    </bean>


</beans>
